<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MGW - {% block pageTitle %}{% endblock %}</title>
    <style>
        @import '/css/style.css';
    </style>
</head>

<body>

<a href="/">home</a>
<hr>

{% block main %}
{% endblock %}

</body>
</html>