{% extends '_base.html.twig' %}

{% block pageTitle %}404 error{% endblock %}

{% block main %}

<h1>Error - code 404</h1>

<p>
    404 - sorry the requested resource could not be found
    <br>
    {{ errorMessage }}
</p>

{% endblock %}