{% extends '_base.html.twig' %}

{% block pageTitle %}home page{% endblock %}

{% block main %}

<h1>Welcome - home page of great detectives Book website</h1>

<p>
    All you need to know about the best detective books
</p>

<ul>
    <li>
        <a href="/list">list all great books</a>
    </li>
</ul>

{% endblock %}