{% extends '_base.html.twig' %}

{% block pageTitle %}list page{% endblock %}

{% block main %}

<h1>Great Detective Books</h1>

<table>
    {% for book in books %}
       <tr>
            <td><a href="/show/{{ book.id }}"> {{ book.title }}</a></td>
            <td><img src="/images/{{ book.image }}"></td>
       </tr>
    {% endfor %}
</table>

{% endblock %}